In [4]:
# c0302_Pandas数据结构Series：基本概念及创建  课程作业
# 作业1：分别由字典、数组的方式，创建以下要求的Series

import numpy as np
import pandas as pd

dic = {'Jack':90.0,'Marry':92.0,'Tom':89.0,'Zack':65.0}
s1 = pd.Series(dic,name='作业1')
print(s1)

arr = [90.0,92.0,89.0,65.0]
s2 = pd.Series(arr,index=['Jack','Marry','Tom','Zack'],name='作业1')
print(s2)

Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64
Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64

In [4]:
# c0303_Pandas数据结构Dataframe：基本概念及创建  课程作业
# 作业1：用三种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）

import numpy as np
import pandas as pd

data = {'one':np.arange(1,6),
        'two':np.arange(2,7),
       'three':np.arange(3,8),
       'four':np.arange(4,9)
       }
df = pd.DataFrame(data,index=['a','b','c','d','e'])
print(df)

   one  two  three  four
a    1    2      3     4
b    2    3      4     5
c    3    4      5     6
d    4    5      6     7
e    5    6      7     8

In [18]:
#  c0304_索引与切片  课程作业
# 作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
''' ① 索引得到b，c列的所有值
    ② 索引得到第三第四行的数据
    ③ 按顺序索引得到two，one行的值
    ④ 索引得到大于50的值
'''
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])

data1 = df[['b','c']]
data2 = df.loc[['two','one']]
data3 = df.iloc[[1,0]]
b1 = df > 50
data4 = df[b1]


print(df)
print(data1)
print(data2)
print(data3)
print(data4)

               a          b          c          d
one    30.231527  68.913054  50.961078  75.854510
two    93.822830  53.652861  28.155577  58.498578
three  98.112547  64.586781  58.179469  21.076785
four    3.085902  96.994985  31.763325   4.493568
               b          c
one    68.913054  50.961078
two    53.652861  28.155577
three  64.586781  58.179469
four   96.994985  31.763325
             a          b          c          d
two  93.822830  53.652861  28.155577  58.498578
one  30.231527  68.913054  50.961078  75.854510
             a          b          c          d
two  93.822830  53.652861  28.155577  58.498578
one  30.231527  68.913054  50.961078  75.854510
               a          b          c          d
one          NaN  68.913054  50.961078  75.854510
two    93.822830  53.652861        NaN  58.498578
three  98.112547  64.586781  58.179469        NaN
four         NaN  96.994985        NaN        NaN

In [16]:
# c0305_基本技巧  课程作业
# 作业1：创建一个3*3，值在0-100区间随机值的Dataframe（如图），分别按照index和第二列值大小，降序排序

import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.rand(9).reshape(3,3)*100,columns=['v1','v2','v3'],index=['a','b','c'])
print(df1)
print(df1.sort_index(ascending=False))
print(df1.sort_values(['v2'], ascending = False))

          v1         v2         v3
a  17.253063  51.522010  61.860594
b  10.205461  94.811578  37.346860
c  92.674043  13.556578  73.124371
          v1         v2         v3
c  92.674043  13.556578  73.124371
b  10.205461  94.811578  37.346860
a  17.253063  51.522010  61.860594
          v1         v2         v3
b  10.205461  94.811578  37.346860
a  17.253063  51.522010  61.860594
c  92.674043  13.556578  73.124371

In [24]:
# 作业2：创建一个5*2，值在0-100区间随机值的Dataframe（如图）df1，通过修改得到df2

import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.random.rand(10).reshape(5,2)*100,columns=['v1','v2'],index=['a','b','c','d','e'])
print(df1)
df2 = df1.T
print(df2.drop(['e'], axis = 1))

          v1         v2
a  36.514050  67.879416
b  49.634874  87.485581
c  76.184790  87.066631
d   2.149013  98.867503
e  65.181848  83.949082
            a          b          c          d          e
v1  36.514050  49.634874  76.184790   2.149013  65.181848
v2  67.879416  87.485581  87.066631  98.867503  83.949082
            a          b          c          d
v1  36.514050  49.634874  76.184790   2.149013
v2  67.879416  87.485581  87.066631  98.867503

In [33]:
# 作业3：如图创建Series，并按照要求修改得到结果

import numpy as np
import pandas as pd

dic = {'a':0 ,'b':1 , 'c':2, 'd':3, 'e':4,'f':5 , 'g':6, 'h':7, 'i':8, 'j':9}
s = pd.Series(dic)
print(s)

## TODO

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [38]:
# 作业4：已有s1，s2（值为0-10的随机数），请求出s1+s2的值

import numpy as np
import pandas as pd

s1 = pd.Series(np.random.rand(5)*10,index = ['a','b','c','d','e'])
s2 = pd.Series(np.random.rand(5)*10,index = ['c','d','e','f','g'])
print(s1)
print(s2)
print(s1+s2)

a    6.559843
b    6.452508
c    8.828453
d    3.529860
e    4.473095
dtype: float64
c    0.647878
d    1.053684
e    5.207827
f    8.706336
g    0.433851
dtype: float64
a         NaN
b         NaN
c    9.476331
d    4.583544
e    9.680922
f         NaN
g         NaN
dtype: float64

In [52]:
# c0306_数值计算和统计基础 课程作业
# 作业1：如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和

import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':np.random.rand(5)*100,
                  'key2':np.random.rand(5)*100})
print(df,'\n')
print(df['key1'].mean(),'→ key1平均值')
print(df['key2'].mean(),'→ key2平均值')
print(df['key1'].median(),'→ key1中位数')
print(df['key2'].median(),'→ key2中位数')
print(df['key1'].cumsum(),'→ key1累计和')
print(df['key2'].cumsum(),'→ key2累计和')

        key1       key2
0  78.865901  64.064531
1  23.446235  64.187695
2  39.999120  90.540450
3  11.180157  53.253917
4  88.063899  85.973941

48.311062453 → key1平均值
71.6041067419 → key2平均值
39.999120118 → key1中位数
64.1876951842 → key2中位数
0     78.865901
1    102.312137
2    142.311257
3    153.491413
4    241.555312
Name: key1, dtype: float64 → key1累计和
0     64.064531
1    128.252226
2    218.792676
3    272.046592
4    358.020534
Name: key2, dtype: float64 → key2累计和

In [85]:
# 作业2：写出一个输入元素直接生成数组的代码块，然后创建一个函数，该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”

s1 = pd.Series(list('abcabc'))
print(s1.values,type(s1.values))
sq = s1.unique()
print(sq,type(sq))

def isUnique(list1,list2):
    if list1.size == list2.size:
        print('是唯一值数组')
    else:
        print('不是唯一值数组')
        
isUnique(s1.values,sq)

['a' 'b' 'c' 'a' 'b' 'c'] <class 'numpy.ndarray'>
['a' 'b' 'c'] <class 'numpy.ndarray'>
不是唯一值数组

In [104]:
# c0307_文本数据 课程作业
# 作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series或得到新的Dataframe：
"""① name字段首字母全部大写
② gender字段去除所有空格
③ score字段按照-拆分，分别是math，english，art三个学分
"""

import numpy as np
import pandas as pd

df = pd.DataFrame({'gender':['  M','M ','F',' M','F '],
                  'name':['jack','tom','marry','zack','heheda'],
                  'math-english':['90-90','89-89','90-90','78-78','60-60']})
print(df)
print('--------------------------------------')
print(df['name'].str.upper())
print(df['gender'].str.strip())
print(df['math-english'].str.split('-'))

  gender    name math-english
0      M    jack        90-90
1     M      tom        89-89
2      F   marry        90-90
3      M    zack        78-78
4     F   heheda        60-60
--------------------------------------
0      JACK
1       TOM
2     MARRY
3      ZACK
4    HEHEDA
Name: name, dtype: object
0    M
1    M
2    F
3    M
4    F
Name: gender, dtype: object
0    [90, 90]
1    [89, 89]
2    [90, 90]
3    [78, 78]
4    [60, 60]
Name: math-english, dtype: object

In [118]:
# c0308_合并、连接、去重、替换  课程作业
# 作业1：按要求创建Dataframe df1、df2，并合并成df3

import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                   'values2':np.random.rand(3)})

print(pd.merge(df1,df2,on='key',how='outer'))

  key   values1   values2
0   a  0.033414       NaN
1   b  0.588461  0.033373
2   c  0.852552  0.234223
3   d       NaN  0.483591

In [123]:
# 作业2：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'1key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'rkey':['a','b','c'],
                   'values2':np.random.rand(3)})
print(pd.merge(df1,df2,left_on='1key', right_on='rkey'))

  1key   values1 rkey   values2
0    a  0.329183    a  0.684854
1    b  0.828896    b  0.294485
2    c  0.855006    c  0.884820

In [131]:
# 作业4：按要求创建Dataframe df1、df2，并连接成df3

df1 = pd.DataFrame(np.random.rand(8).reshape(4,2),
                  index=['a','b','c','d'],
                  columns=['values1','values2'])
df2 = pd.DataFrame(np.random.rand(8).reshape(4,2),
                  index=['e','f','g','h'],
                  columns=['values1','values2'])
print(pd.concat([df1,df2]))

    values1   values2
a  0.689074  0.902418
b  0.435917  0.754866
c  0.070679  0.747816
d  0.617545  0.361864
e  0.214737  0.187482
f  0.106104  0.845640
g  0.238992  0.790750
h  0.563654  0.549336